.page-list{
   .am-accordion {
       .am-accordion-item {
           margin-top: 5px;
            .am-accordion-header{
                &:after{
                    display:none !important;
                }
                .am-flexbox-item{
                    &.text-right{
                        margin-right: 5px;
                    }
                }
        }
        .am-accordion-content {
            .am-accordion-content-box{
                 color: #6d6d72;
                .am-flexbox-item{
                    
                    &.qrcode{
                        max-width: 33.3%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
       }

   }
}