.page-promt{
    .content{
        .am-card{
            padding-bottom: 0;
            .am-card-header-content{
                display: block;
            }
            .am-card-body{
                .flex-item-divider{
                    background: #e1e1e1;
                    width: 1px;
                    height: 60px;
                }
            }
        }
    }
}