
.am-modal{
    max-height: 90%;
    .am-modal-content{
        background-color: #f5f5f9;
        .rate{
            margin: 1em 0;
        }
        .btn-center{margin: 0 auto;max-width: 200px;}
    }
}
    



    
    
