.group {
    position:relative;

    input {
      background: none;
      padding:10px 10px 10px 5px;
      display:block;
      width:100%;
      border:none;
      border-bottom:1px solid #fff;
      &:focus{
        outline:none;
        border-bottom-color:transparent;
        &~label {
          top:-20px;
          font-size:14px;
          color:#fff;
        }
        &~.group-bar{
          &:before,
          &:after{
            width: 50%;
          }
        }
        &~.highlight {
          -webkit-animation:inputHighlighter 0.3s ease;
          -moz-animation:inputHighlighter 0.3s ease;
          animation:inputHighlighter 0.3s ease;
        }
      }
      &:valid{
        &~label{
          top:-20px;
          font-size:14px;
          text-indent: -2.35em;
          color: #e7e7e7;
        }
      }
    }
    label {
      color:#fff;
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:10px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }
    .group-bar {
      position:relative;
      display:block;
      width:100%;
      height: auto;
      &:before,
      &:after{
        content:'';
        height:2px;
        width:0;
        bottom:1px;
        position:absolute;
        background:#fff;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
      }
      &:before{
        left:50%;
      }
      &:after{
        right:50%;
      }
    }
    .highlight {
      position:absolute;
      height:60%;
      width:100px;
      top:25%;
      left:0;
      pointer-events:none;
      opacity:0.5;
    }

  }